@font-face {
  font-family: "ROLAchan";
  src: url(../fonts/ROLAchan-Regular.otf);
}

.top {
  background-image: url(../img/top.png);
  background-size: cover;
}

.top .container h1 {
  font-family: "ROLAchan";
}
